<div class="auth row">
    <div class="col s12">
        <ul class="tabs">
            <li class="tab col s6"><a class="active" href="#login">Login</a></li>
            <li class="tab col s6"><a href="#register">Registration</a></li>
        </ul>
    </div>
    <div id="login" class="col s6 offset-3">
        {{# if loginError}}
            <div class="error-notify">{{loginError}}</div>
        {{/if}}
        <h3>Login</h3>
        <form action="/auth/login" method="post" novalidate>
            <div class="input-field">
                <input id="email" name="email" type="email" class="validate" required placeholder="example@example.com">
                <label for="email">Email</label>
                <span class="helper-text" data-error="Please, input email"></span>
            </div>
            <div class="input-field">
                <input id="password" name="password" type="password" class="validate" required>
                <label for="password">Password</label>
                <span class="helper-text" data-error="Please, input password"></span>
            </div>
            <input type="hidden" name="_csrf" value="{{csrf}}">

            <button class="btn btn-primary" type="submit">Login</button>
        </form>
        <a href="/auth/reset">Reset password</a>
    </div>
    <div id="register" class="col s6 offset-3">
        {{# if registerError}}
            <div class="error-notify">{{registerError}}</div>
        {{/if}}
        <h3>Registration</h3>
        <form action="/auth/register" method="post" novalidate>
            <div class="input-field">
                <input id="name" name="name" type="text" class="validate" required placeholder="Ivan">
                <label for="name">Name</label>
                <span class="helper-text" data-error="Please, input you name"></span>
            </div>
            <div class="input-field">
                <input id="remail" name="email" type="email" class="validate" required placeholder="example@example.com">
                <label for="email">Email</label>
                <span class="helper-text" data-error="Please, input email"></span>
            </div>
            <div class="input-field">
                <input id="rpassword" name="password" type="password" class="validate" required>
                <label for="password">Password</label>
                <span class="helper-text" data-error="Please, input password"></span>
            </div>
            <div class="input-field">
                <input id="confirm" name="confirm" type="password" class="validate" required>
                <label for="confirm">Password</label>
                <span class="helper-text" data-error="Please, input password"></span>
            </div>
            <input type="hidden" name="_csrf" value="{{csrf}}">
            <button class="btn btn-primary" type="submit">Registration</button>
        </form>
    </div>

</div>
</div>
