<div id="newPassword" class="col s6 offset-3">
    {{# if resetError}}
        <div class="login-error-notify">{{resetError}}</div>
    {{/if}}
    <h3>New password</h3>
    <form action="/auth/password" method="post">
        <div class="input-field">
            <input id="password" name="password" type="password" class="validate" required>
            <label for="password">Password</label>
            <span class="helper-text" data-error="Please, input password"></span>
        </div>
        <div class="input-field">
            <input id="cpassword" name="cpassword" type="password" class="validate" required>
            <label for="cpassword">Confirm password</label>
            <span class="helper-text" data-error="Please, input password"></span>
        </div>
        <input type="hidden" name="_csrf" value="{{csrf}}">
        <input type="hidden" name="token" value="{{token}}">
        <input type="hidden" name="userId" value="{{userId}}">

        <button class="btn btn-primary" type="submit">Confirm</button>
    </form>
</div>
